/* Variables and Fonts **********************/

/* Fonts */
@font-face {
  font-family: "figtree-variable";
  src: url("../assets/fonts/figtree-variablefont_wght-webfont.woff2")
    format(woff2) tech(variations);
}
@font-face {
  font-family: "figtree-extra-bold";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format(woff2)
    tech(variations);
}
/* End Fonts */

/* Variables */
html {
  --yellow: rgb(244, 208, 78);
  --grey-950: rgb(17, 17, 17);
  --gray-500: rgb(107, 107, 107);
  --white: rgb(255, 255, 255);

  --space-32px: 2rem; /* 32px */
  --space-24px: 1.5rem; /* 24px */
  --space-16px: 1rem; /* 16px */
  --space-14px: 0.875rem; /* 14px */
  --space-12px: 0.75rem; /* 12px */
  --space-11px: 0.6875rem; /* 11px */
  --space-8px: 0.5rem; /* 8px */
  --space-4px: 0.25rem; /* 4px */

  --regular-font-stack: "figtree-variable", system-ui, Helvetica, Arial,
    sans-serif;
  --extra-bold-font-stack: "figtree-extra-bol", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 16px */
}
/* End Variables */

/* Classes *****************************/

/* Typography Classes */
.figtree-extra-bold-24px,
.figtree-extra-bold-14px,
.figtree-medium-16px,
.figtree-medium-14px {
  font-family: var(--regular-font-stack);
  line-height: 150%;
  letter-spacing: 0px;
}
.figtree-extra-bold-24px {
  font-size: var(--space-24px);
  font-family: var(--extra-bold-font-stack);
  font-weight: bold;
}
.figtree-extra-bold-14px {
  font-size: var(--space-14px);
  font-family: var(--extra-bold-font-stack);
  font-weight: bold;
}
.figtree-medium-16px {
  font-size: var(--space-16px);
}
.figtree-medium-14px {
  font-size: var(--space-14px);
}
.figtree-extra-bold-11px {
  font-size: var(--space-11px);
  font-family: var(--extra-bold-font-stack);
  font-weight: bold;
}
/* End Typography Classes */

/* Margin Classes */
.margin-bottom-12px {
  margin-bottom: var(--space-12px);
}
.margin-bottom-24px {
  margin-bottom: var(--space-24px);
}
/* End Margin Classes */

/* Padding Classes */
.padding-4px-12px {
  padding: var(--space-4px) var(--space-12px);
}
.padding-24px {
  padding: var(--space-24px);
}
/* End Padding Classes */

/* Generic Styling ************************/

body {
  background-color: var(--yellow);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-16px);
}

main {
  background-color: var(--white);
  width: 384px;
  border-radius: 20px;
  box-shadow: 8px 8px var(--grey-950);
  border: 1px solid var(--grey-950);
  /* padding: min(10%, 24px); */
}

svg {
  width: 100%;
  border-radius: 20px;
}

.article-status {
  background-color: var(--yellow);
  color: var(--grey-950);
  display: inline-block;
  border-radius: 4px;
}
.article-date {
  color: black;
  font-weight: 900;
}
.article-title:hover {
  color: var(--yellow);
  cursor: pointer;
}
.article-text {
  font-weight: 900;
  color: var(--gray-500);
}

.article-image-container {
  display: flex;
}

img {
  width: var(--space-32px);
}

.article-image-container {
  display: flex;
  gap: var(--space-12px);
}

.article-image-container p {
  align-self: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
